$bgcolor: rgb(204, 195, 177);
$fgcolor: rgba(34, 66, 88, 0.798);
body {
  text-align: center;
  background-color: $bgcolor;
  color: $fgcolor;
  margin: 0px
}
i {
  color: rgb(142, 38, 38);
}
.cc code table {
  border: solid 2px rgb(163, 163, 122);
  padding: 3px;
  border-radius: 6px;
  border-spacing: 2px;
  margin: 3px;
  box-shadow: 1px 1px 3px inset black;
  td {
    background-color: rgb(96, 136, 136);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(41, 38, 38);
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
  }
}